
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

$tg-bg-darker: rgb(23, 23, 23);
$tg-bg: rgb(30, 30, 30);
$tg-bg-lighter: rgb(37, 37, 38);
$tg-bg-lightest: rgb(56, 56, 56);

$tg-text-color: rgb(220, 220, 170);
$tg-text-active: rgb(156, 220, 254);

$tg-grid-selection-color: rgba(255, 255, 255, 0.1);
$tg-grid-selection-border-color: rgba(220, 220, 170, 0.5);

$tg-grid-arrow-size: 4px;

$tg-grid-scroll-track-background: rgb(30, 30, 30);
$tg-grid-scroll-thumb-background: rgba(255, 255, 255, 0.1);
$tg-grid-scroll-thumb-hover-background: rgba(255, 255, 255, 0.2);

// Scrollbars
.text-grid-area::-webkit-scrollbar { width: 8px; height: 8px; }
.text-grid-area::-webkit-scrollbar-track { background-color: $tg-grid-scroll-track-background; }
.text-grid-area::-webkit-scrollbar-thumb { background: $tg-grid-scroll-thumb-background; border-radius: 10px; }
.text-grid-area::-webkit-scrollbar-thumb:hover { background: $tg-grid-scroll-thumb-hover-background }


.text-grid-area:focus {
    outline: none;
}

.text-grid-area {
    width: 100%;
    height: 100%;
    background-color: $tg-bg;
    position: relative;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
    
}

.text-grid-status-bar {
    
    box-sizing:content-box;
    display: flex;
    background-color: $tg-bg-lightest;
    color: white;
    border: 1px solid $tg-bg;
    
    width: 100%;
    height: 24px;
    line-height: 24px;
    
    font-size: smaller;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;


    ul {
        display:block;
        padding: 0px;
        margin: 0px;
        li {
            display: inline-block;
            margin-left: 10px;
        }
    }
}

.text-grid {
    position: sticky;
    display: block;
    box-sizing:content-box;
    left: 0px;
    top: 0px;
    border: 1px solid $tg-bg-lighter;
    color: $tg-text-color;
    background-color: $tg-bg;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 0px;
    user-select: none;

    font-size: smaller;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

    
    :focus {
        outline: none;
    }

    .text-grid-selection {
        box-sizing: border-box;
        border: 1px solid $tg-grid-selection-border-color;
        background-color: $tg-grid-selection-color;
        position: absolute;
        display: inline-block;
        z-index: 1;
    }

    .text-grid-row {
        box-sizing: border-box;
        display: block;

        overflow: hidden;
        width: 100%;
        
        // white-space: nowrap;

        margin-top: -1px;

        .text-grid-cell {
            position: relative;
            box-sizing: border-box;
            border: 1px solid $tg-bg-lighter;
            display: inline-block;
            //border-right: 1px  rgba(255, 255, 255, 0);
            //
            justify-content: center;
            flex-direction: column;

            height: 100%;
            margin-left: -1px;
            overflow: hidden;
            text-align: center;
            vertical-align: middle;

            .text-grid-cell-content {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                justify-content: center;
            }
        }

        .row-hover {
            background-color: $tg-bg-lighter;
        }

        .col-hover {
            background-color: $tg-bg-lighter;
        }

        .cell-hover {
            background-color: $tg-bg-lightest;
        }

        .active-override {
            background-color: $tg-bg-lightest;
            color: $tg-text-active;
            z-index: 1;
        }

        .active-override-top { border-top: 1px solid $tg-text-active; }
        .active-override-left { border-left: 1px solid $tg-text-active; }
        .active-override-right { border-right: 1px solid $tg-text-active; }
        .active-override-bottom { border-bottom: 1px solid $tg-text-active; }

        .active-override:after {
            content:'';
            position: absolute;
            width: 0;
            height: 0;
            border: solid $tg-grid-arrow-size transparent;
        }

        .active-override-top:after {
            top: 0%;
            left: 50%;
            margin-left: -$tg-grid-arrow-size;
            border-top: solid $tg-grid-arrow-size $tg-text-active;
        }

        .active-override-bottom:after {   
            bottom: 0%;
            left: 50%;
            margin-left: -$tg-grid-arrow-size;
            border-bottom: solid $tg-grid-arrow-size $tg-text-active;
        }

        .active-override-left:after{
            top: 50%;
            left: 0px;
            margin-top: -$tg-grid-arrow-size;
            border-left: solid $tg-grid-arrow-size $tg-text-active;
        }

        .active-override-right:after{
            top: 50%;
            right: 0%;
            margin-top: -$tg-grid-arrow-size;
            border-right: solid $tg-grid-arrow-size $tg-text-active;
        }

        .active-insert {
            border-left: 1px solid $tg-text-active;
        }
    }
}
